<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.mylyn.tasks.ui.repositories">
      <connectorCore
            class="com.allium.podio.mylyn.ui.PodioRepositoryConnector"
            name="Podio Connector Core">
      </connectorCore>
      <connectorUi
            brandingIcon="icons/podio_icon.png"
            class="com.allium.podio.mylyn.ui.PodioRepositoryConnectorUi"
            name="Podio Connector UI"
            overlayIcon="icons/podio_overlay.png">
      </connectorUi>
   </extension>
   <extension
         point="org.eclipse.mylyn.tasks.core.templates">
      <repository
            label="Podio Example"
            repositoryKind="com.allium.podio.mylyn"
            urlRepository="http://podio.com">
      </repository>
   </extension>
   <extension
         point="org.eclipse.mylyn.tasks.ui.editors">
      <pageFactory
            class="com.allium.podio.mylyn.ui.editor.PodioTaskEditorPageFactory"
            id="com.allium.podio.mylyn.ui.pageFactory">
      </pageFactory>
   </extension>

</plugin>
